body {
    background-color: azure;
}

.main-wrp {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}

.post a{
    max-width: 300px;
    max-height: 300px;
}

.foto {
    padding-left: 35px;
    width: 200px;
    height: 200px;
}

.foto img{
    width: 100%;
    height: auto;
}