@media all and (max-width: 780px) {

.main-wrp {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(600px, 1200px) 100px;
    grid-gap: 10px;
}

.post{
    margin-left: 30px;
}

.content-main{
  grid-row: 1;
}

.aside {
   grid-row: 2; 
}

.foto{
    margin-top: 10px;
}
.footer{
    grid-row: 3;
}
}