header {
    background-color: dimgrey;
    height: 120px;
}

body {
 background-color: azure;

}

.content {
  background-color: brown;
  float: left;
  width: 75%;
  height: 500px;
}

.aside {
    background-color: cadetblue;
    float: right;
    width: 20%;
    height: 500px;
}

.footer {
    background-color: black;
    height: 20%;
}

.main { 
    display: inline;
    
}

#logo {
    min-width: 100px;
}
